<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCt8hyndjihG6XQnEZLR0khqqh7sY3wKl0</string>
	<key>GCM_SENDER_ID</key>
	<string>494438016572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plypickerFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>plypicker-project-assi</string>
	<key>STORAGE_BUCKET</key>
	<string>plypicker-project-assi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494438016572:ios:0886173df75dd8820e4539</string>
</dict>
</plist>